body {
  margin: 0;
  background: #fff;
}

.row {
  display: flex;
  flex-direction: row;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}

#earth-canvas-section {
  height: 100vh; /* we render a canvas of the height of the screen */
  position: relative;
}

.earth-static-circle {
  aspect-ratio: 1 / 1;
  pointer-events: none;
  border-radius: 100%;
  /* width: 464px; */
  position: absolute;
  border: 3px solid red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.earth-spline-overlay {
  pointer-events: none;
}

.canvas-profile {
  opacity: 0;
  pointer-events: all;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  cursor: pointer;
}
.canvas-profile.paul-profile {
  left: 50px;
  top: 50px;
}
.canvas-profile.colin-profile {
  right: 50px;
  bottom: 50px;
}
.canvas-profile .row .name {
  font-family: var(--token-display--font-family);
  color: var(--primitive-lava--lava-600, #e51111);
  /* font-size already defined by webflow ui style */
  font-style: normal;
  font-weight: 450;
  line-height: 110%;
  letter-spacing: var(--primitive-letter-spacing--1);
}

.canvas-profile .row .location-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.canvas-profile .row .location-wrapper .country {
  color: var(--primitive-lava--lava-600, #e51111);
  display: flex;
  padding: 4px 12px 3px 12px;
  border-radius: 55px;
  border: 1px solid var(--primitive-lava--lava-600, #e51111);

  font-family: var(--token-display--font-family);
  /* font-size already defined by webflow ui style */
  font-weight: 450;
  line-height: 100%;
  letter-spacing: var(--primitive-letter-spacing--1);
  text-transform: uppercase;
}

.canvas-profile .row .location-wrapper .detail {
  color: var(--contrast-primary-lava-high, #e51111);
  font-family: var(--token-display--font-family);
  /* font-size already defined by webflow ui style */
  font-style: normal;
  font-weight: 450;
  line-height: 100%;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

.canvas-profile .row .arrow-wrapper {
  padding-left: 6px;
  color: var(--primitive-lava--lava-600, #e51111);
  /* font-size already defined by webflow ui style */
  font-family: var(--token-display--font-family);
  font-weight: 450;
  line-height: 130%;
  letter-spacing: var(--primitive-letter-spacing--1);
}

/* STUDIO PROFILE OVERLAY */
#html2canvas {
  position: absolute;
  z-index: -2;
  left: -100%;
  top: 0;
  pointer-events: none;
}

.css3d-wrapper {
  pointer-events: none;
}

.marker-overlay-data {
  display: inline-block;
  flex-direction: column;
  text-transform: capitalize;
  font-family: var(--token-display--font-family);
  /* font-size already defined by webflow ui style */
  font-weight: 450;
  line-height: 100%;
  letter-spacing: var(--primitive-letter-spacing--1);
}
.marker-overlay-data > * div {
  text-transform: uppercase;
}

/* PROFILE DETAIL OVERLAY */

.profile-detail-overlay {
  will-change: opacity;
}

/* SPLIDE style disabled */
/* disable default splide style */
.splide__arrow.splide__arrow--next,
.splide__arrow.splide__arrow--prev,
.splide__pagination {
  display: none;
  opacity: 0;
}

/* SPRINT CARDS */

@media only screen and (min-width: 1920px) {
  .studio-agenda-container .agenda-item-wrapper {
    height: 560px;
  }
  .studio-agenda-container .agenda-item-wrapper.third-child {
    display: flex;
  }
}
