.company-description-cta-section .link-btn-wrapper .link,
.company-description-cta-section .link-btn-wrapper .link-bracket {
  color: white;
}

.company-description-section .company-description-introduction .grid-main > p,
.company-description-section
  .company-description-introduction
  .grid-main
  > .company-description-cta-section
  > .link-btn-wrapper
  > * {
  color: var(--primitive-lava--lava-600) !important;
  transition: color 0.5s ease, border 0.5s ease, left 0.2s ease, right 0.2s ease;
}

.company-description-section.variant
  .company-description-introduction
  .grid-main
  > p,
.company-description-section.variant
  .company-description-introduction
  .grid-main
  > .company-description-cta-section
  > .link-btn-wrapper
  > * {
  color: white !important;
}
